<div class="list-container">
  {{view Tent.List listBinding="view.dummy" entrySelectedBinding="view.clicked" listhead="Name,One,Two,Three" navClick=true}}
</div>
<div class="navbar-container">
<div class="navbar">
<div class="navbar-inner">
	{{view Tent.ButtonIconned label="mov"}}
	<span>Now you can change the style</span>
	
    <div class="container">
		<div class="nav-collapse collapse">
			{{view Tent.NavList listBinding="view.setObj"}}
		</div>
	</div>
</div>
</div>
<div class="ember-view">
{{#if view.clicked}}
	<b>This is the display page for {{view.clicked}}</b>
{{else}}
	<b>Welcome..... This is the main page</b>
{{/if}}
{{#view Tent.ButtonIconned label="tent"}}Default{{/view}}
{{#view Tent.ButtonIconned label="fb"}}Facebook{{/view}}
{{#view Tent.ButtonIconned label="gwt"}}Google{{/view}}</bottom>
</div>
</div>